:host{
    display: block;

    height: 100%;
}
 
 
 .block1 {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.block2 {
    background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%);
}

.block3 {
    background: linear-gradient(135deg, #d7fb93 0%, #169a02 100%);
}

.block4 {
    background: linear-gradient(135deg, #fbd793 0%, #e17924 100%);
}