@use 'fonts';
@use '@angular/material' as mat;
@use 'variables.scss' as *;



:root {
    @include mat.button-overrides((outlined-container-shape: 0px, filled-container-shape: 0px));
    @include mat.card-overrides((outlined-container-shape: 0px, elevated-container-shape: 0px));
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-toolbar {
    gap: .2em;
}

.game-page {
    display: flex;
    flex-direction: column;
    padding: 1em;
    gap: 1em;
    margin: 0 auto;
    max-width: 300px;;
}



// Mobile
// ----------------
@media screen and (max-width: $bp-mobile-landscape-max) {
    .game-page {
        // max-width: $bp-mobile-landscape-max;
    }
}


// Tablet
// ----------------
@media screen and (min-width: $bp-tablet-portrait-min) {
    .game-page {
        max-width: $bp-mobile-landscape-max;
    }
}

// Desktop
// ----------------
@media screen and (min-width: $bp-desktop-portrait-min) {
    .game-page {
        max-width: 600px;
        flex-direction: row;
    }
}