// Mobile
$bp-mobile-portrait-min: 320px;
$bp-mobile-portrait-max: 480px;

$bp-mobile-landscape-min: 481px;
$bp-mobile-landscape-max: 600px;

// Tablet
$bp-tablet-portrait-min: 601px;
$bp-tablet-portrait-max: 768px;

$bp-tablet-landscape-min: 769px;
$bp-tablet-landscape-max: 1024px;

// Desktop
$bp-desktop-portrait-min: 1025px;
$bp-desktop-portrait-max: 1280px;

$bp-desktop-landscape-min: 1281px;
$bp-desktop-landscape-max: 1440px;