    @font-face {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      src: url('/ts-games/fonts/Roboto/Roboto-VariableFont_wdth,wght.ttf') format('truetype'),
    }

    @font-face {
      font-family: 'Roboto';
      font-style: italic;
      font-weight: 400;
      src:  url('/ts-games/fonts/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype'),

    }

   