:host {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .players {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;

        .player {
            width: 50%;
        }
    }

    .player-current {
        border: 2px solid var(--mat-sys-primary)
    }
}