@use '../../styles/variables.scss' as *;

.game-page {
  display: grid;
}

@media screen and (min-width: $bp-desktop-landscape-min) {}


// Mobile
// ----------------
@media screen and (max-width: $bp-mobile-landscape-max) {
  .game-page {
    grid-template-rows: 3;
  }
}


// Tablet
// ----------------
@media screen and (min-width: $bp-tablet-portrait-min) {
  .game-page {
    // max-width: $bp-mobile-landscape-max;
  }
}

// Desktop
// ----------------
@media screen and (min-width: $bp-desktop-portrait-min) {
  .game-page {
    max-width: 600px;
  }
}