<main class="main">
  <div class="content">
    <mat-toolbar class="page-top">
      <h1>Games</h1>
      <button matButton [matMenuTriggerFor]="menu">Games</button>
      <mat-menu #menu="matMenu">
        <!-- <button mat-menu-item scrollAnchor="test-1">Component 1</button> -->
        <!-- <button mat-menu-item scrollAnchor="test-2">Component 2</button> -->
        <!-- <button mat-menu-item scrollAnchor="test-3">Component 3</button> -->
        <!-- <button mat-menu-item scrollAnchor="test-4">Component 4</button> -->
      </mat-menu>
    </mat-toolbar>
    <div class="page-content">
      <!-- <div scrollContainer class="pages">
        <scroll-section id="test-1"> <app-test>Component 1</app-test></scroll-section>
        <scroll-section id="test-2"> <app-test>Component 2</app-test></scroll-section>
        <scroll-section id="test-3"> <app-test>Component 3</app-test></scroll-section>
        <scroll-section id="test-4"> <app-test>Component 4</app-test></scroll-section>
      </div> -->
      <block-pages>
        <block-page class="block block1">
          <h1>Блок 1</h1>
          <p>Это первый блок. Свайпните влево, чтобы перейти ко второму блоку.</p>
        </block-page>
        <block-page class="block block2">
          <h1>Блок 2</h1>
          <p>Это второй блок. Свайпните вправо, чтобы вернуться к первому блоку.</p>
        </block-page>
        <block-page class="block block3">
          <h1>Блок 3</h1>
          <p>Это второй блок. Свайпните вправо, чтобы вернуться к первому блоку.</p>
        </block-page>
        <block-page class="block block4">
          <h1>Блок 4</h1>
          <p>Это второй блок. Свайпните вправо, чтобы вернуться к первому блоку.</p>
        </block-page>
      </block-pages>
      <router-outlet />
    </div>
  </div>
</main>