.page-top {
    position: sticky;
    top: 0;
    display: flex;
}

.scroll-section {
    display: block;
    height: 100vh;
    border: 1px solid blue;
    background-color: #ccc;
}

app-test{
    display: block;;
    margin-top: 4em;;
}
