:host {
    min-width: 10em;
    position: relative;
    display: flex;
    flex-direction: column;

    .row {
        display: flex;

        .cell {
            width: 100%;
            border: 1px solid #999;
            aspect-ratio: 1 / 1;
            margin: 2px;

            .char {

                height: 100%;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 0;
                left: 0;
            }
        }

    }

}